@page
@model Final_Project.Pages.Customers.Index
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>



<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.listCustomers)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.Name</td>
                    <td>@customer.Email</td>
                    <td>@customer.Phone</td>
                </tr>
            }
        </tbody>
    </table>
</div>